name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    env:
      FIREBASE_CLI_EXPERIMENTS: webframeworks
    steps:
      - uses: actions/checkout@v4
      
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_LMS_A762E }}'

      - name: Install Firebase Tools
        run: npm install -g firebase-tools

      - name: Install Dependencies
        run: cd lms-web && npm ci

      - name: Build
        run: cd lms-web && npm run build

      - name: Deploy to Firebase
        run: firebase deploy --only hosting,functions --project lms-a762e --debug
        env:
          FIREBASE_CLI_EXPERIMENTS: webframeworks
